extends ../layouts/layout

block content
  //- brand colors
  .jumbotron.bg-brand1
    .row
      .col-sm-3.bg-brand2 &nbsp;
      .col-sm-3.bg-brand3 &nbsp;
      .col-sm-3.bg-brand4 &nbsp;
      .col-sm-3.bg-brand5 &nbsp;
    //- gray scale
    .row
      .col-sm-1.bg-white &nbsp;
      .col-sm-2.bg-gray-lighter &nbsp;
      .col-sm-2.bg-gray-light &nbsp;
      .col-sm-2.bg-gray &nbsp;
      .col-sm-2.bg-gray-dark &nbsp;
      .col-sm-2.bg-gray-darker &nbsp;
      .col-sm-1.bg-black &nbsp;
  hr
  h1 Brand Colors
  hr
  .bg-brand1.pvl.white
    h2 BLUE
  .bg-brand2.pvl
    h2 LIME
  .bg-brand3.pvl
    h2 YELLOW
  .bg-brand4.pvl.white
    h2 ORANGE
  .bg-brand5.pvl.white
    h2 RED
  .bg-white.pvl
    h2 WHITE
  .bg-gray-lighter.pvl
    h2 GRAY-LIGHTER
  .bg-gray-light.pvl
    h2 GRAY-LIGHT
  .bg-gray.pvl.white
    h2 GRAY
  .bg-gray-dark.pvl.white
    h2 GRAY-DARK
  .bg-gray-darker.pvl.white
    h2 GRAY-DARKER
  .bg-black.pvl.white
    h2 BLACK
  hr
  h1 Other Colors
  hr
  .bg-navy.pvl.white
    h2 NAVY
  .bg-blue.pvl
    h2 BLUE
  .bg-aqua.pvl
    h2 AQUA
  .bg-teal.pvl
    h2 TEAL
  .bg-olive.pvl
    h2 OLIVE
  .bg-green.pvl
    h2 GREEN
  .bg-lime.pvl
    h2 LIME
  .bg-yellow.pvl
    h2 YELLOW
  .bg-orange.white.pvl
    h2 ORANGE
  .bg-red.white.pvl
    h2 RED
  .bg-maroon.white.pvl
    h2 MAROON
  .bg-fuchsia.white.pvl
    h2 FUCHSIA
  .bg-purple.white.pvl
    h2 PURPLE
