extends ../layouts/layout

block head
  title Sign In

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        br
        br
        form(action="/verify-otp", method='POST')
          input.form-control(type='hidden', name='_csrf', value=token)
          legend Enter your enhanced security code:
          .form-group
            label.sr-only(for='code') Code:
            input.form-control(type='text', name='code', placeholder='code', autofocus=true, required)
          .form-group
            button.btn.btn-primary(type='submit')
              i.fa.fa-unlock-alt
              | &nbsp;Login
