footer.footer
  .container
    p
      | Copyright © #{moment().format('YYYY')}&nbsp;
      img.hidden-xs(src='/favicon.png', width='50px')
      | &nbsp;#{title}, all rights reserved. |&nbsp;
      a(href='/terms') Terms of Use&nbsp;
      | |&nbsp;
      a(href='/privacy') Privacy Policy
