@font-face {
  font-family: "proxima_nova";
  src: url("https://www.dropbox.com/static/fonts/proximanova/proxima-nova-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #007ee6;
  text-decoration: none;
}