extends ../layouts/layout

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .page-header
          h2 API Browser
        ol
          li.api
            a.btn.btn-info.btn-api(href='/api/facebook') Facebook
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          li.api
            a.btn.btn-info.btn-api(href='/api/foursquare') Foursquare
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          li.api
            a.btn.btn-info.btn-api(href='/api/github') GitHub
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          li.api
            a.btn.btn-info.btn-api(href='/api/lastfm') Last.fm
          li.api
            a.btn.btn-info.btn-api(href='/api/nyt') New York Times
          li.api
            a.btn.btn-info.btn-api(href='/api/paypal') PayPal
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          //- li.api
          //-   a.btn.btn-info.btn-api(href='/api/steam') Steam
          li.api
            a.btn.btn-info.btn-api(href='/api/twilio') Twilio
          li.api
            a.btn.btn-info.btn-api(href='/api/tumblr') Tumblr
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          li.api
            a.btn.btn-info.btn-api(href='/api/twitter') Twitter
            small
              | &nbsp;&nbsp;
              i.fa.fa-fw.fa-sign-in
              | &nbsp;Login Required
          li.api
            a.btn.btn-info.btn-api(href='/api/scraping') Web Scraping
