extends ../layouts/layout

block head
  title #{application} &middot; Home

block content

  .mini-tron.bg-brand1.white
    h1 Welcome to #{application}!
    h2 This is the "logged in" home page.

  .container
    .row
      .col-sm-10.col-sm-offset-1

        h3 Why did I have to login to see this?
        p
          | Because authentication is a primary aspect of this application. It has all the appropriate email traffic (welcome, account change, password reset, etc.), administrative features, user account management, etc.  If you didn't log in you would never see or experience this.
        p
          | (NOTE: You can delete your account on the profile page.)
        h3 So what can I do here?
        p
          | Start by checking out the open APIs. No additional authorization or authentication is needed.
        p
          | The cool stuff is in the API's requiring authorization/authentication.  You should try a couple!
        h3 OK.  So now what?
        p
          | Connect some additional OAUTH providers to your account on the "My Account" page (under your name) and see how easy it is to connect and disconnect providers.
        p
          | Checkout the real-time dashboard under the admin menu. It uses Socket.io to track users in real time across the site.  It is anonymous but very cool to watch people using the site. Because the live site is proxied the IP addresses are not accurate.
        p.bg-warning
          | (NOTE: in this demo all users are setup as administrators. Normally they would just be a "user" and the Admin menu would not be accessible or visible.)
        h3
          | Give us a star on&nbsp;
          a(href='https://github.com/dstroot/skeleton')
            i.fa.fa-fw.fa-github
            | &nbsp;GitHub
        h3 Built with:

    .row
      .col-sm-2.col-sm-offset-1
        img.center-block.img-responsive(src='img/nodejs-logo.png' width='150')
      .col-sm-2
        img.center-block.img-responsive.img-rounded(src='img/express-logo.jpg' width='200')
      .col-sm-1
        img.center-block.img-responsive.img-rounded(src='img/bootstrap-logo.jpg' width='75')
      .col-sm-3
        img.center-block.img-responsive(src='img/fontawesome-logo.jpg' width='300')
      .col-sm-2
        img.center-block.img-responsive(src='img/nodejitsu-logo.png' width='150')
    br

    .row
      .col-sm-2.col-sm-offset-1
        img.center-block.img-responsive(src='img/npm-logo.png' width='150')
      .col-sm-2
        img.center-block.img-responsive.img-rounded(src='img/bower-logo.jpg' width='150')
      .col-sm-2
        img.center-block.img-responsive.img-rounded(src='img/mongodb-logo.jpg' width='200')
      .col-sm-3
        img.center-block.img-responsive.img-rounded(src='img/mongolab-logo.jpg' width='250')
      .col-sm-1
        img.center-block.img-responsive(src='img/gulp-logo.png' width='55')
    br
    br
