extends ../layouts/layout

block head
  title #{application} &middot; Web Scraping

block content
  .container
    .page-header
      h2
        i.fa.fa-crop
        | &nbsp;Web Scraping
      p.lead
        | Why this is cool - using a library called&nbsp;
        a(href='http://matthewmueller.github.io/cheerio/', rel='external') Cheerio
        | &nbsp;we can read in any web page and scrape data from the page for use in our site. Since I love Hacker News and it's a pretty simple collection of links we can scrape them and use them on our page below.

    .btn-group.btn-group-justified.hidden-xs
      a.btn.btn-primary(href='http://matthewmueller.github.io/cheerio/', rel='external')
        i.fa.fa-info
        | &nbsp;Cheerio Docs
      a.btn.btn-primary(href='https://developer.foursquare.com/docs/explore', rel='external')
        i.fa.fa-film
        | &nbsp;Cheerio Screencast

    h3
      img(src='/img/hacker_news.png', width=50, height=50)
      span  Hacker News Frontpage

    table.table.table-condensed
      thead
        tr
          th №
          th Title
          th Comments
      tbody
        each link, index in links
          tr
            td= index + 1
            td!= link
            td!= comments[index]
