extends ../layouts/layout

block head
  title #{application} &middot; Twilio

block content
  .container
    .page-header
      h2
        i.fa.fa-phone
        | &nbsp;Twilio API

    .btn-group.btn-group-justified.hidden-xs
      a.btn.btn-primary(href='http://twilio.github.io/twilio-node/', rel='external')
        i.fa.fa-check-square-o
        | &nbsp;Twilio Node
      a.btn.btn-primary(href='https://apigee.com/console/twilio', rel='external')
        i.fa.fa-laptop
        | &nbsp;API Console
      a.btn.btn-primary(href='https://www.twilio.com/docs/api/rest', rel='external')
        i.fa.fa-code-fork
        | &nbsp;REST API

    h4 Send a text message to yourself!
    .row
      .col-sm-6
        form(role='form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.sr-only(for='name') Mobile Number:
            input.form-control(type='text', name='telephone', placeholder='Enter *Your* Mobile Phone Number: 9993334444')
          .form-group
            button.btn.btn-success(type='submit') Send
