extends ../layouts/layout

block content
  .jumbotron.white
    .container
      h1
        | Tell your Awesome Story!
      .row
        .col-md-8.col-md-push-4
          img.img-responsive.animated.slideInRight(alt='Looks great on every device', src='img/Octocat.png', width='500px')
          br
        .col-md-offset-1.col-md-3.col-md-pull-8
          ul.fa-ul.visible-md.visible-lg
            li
              i.fa.fa-li.fa-cog
              | Flat design
            li
              i.fa.fa-li.fa-heart
              | Responsive
            li
              i.fa.fa-li.fa-cloud
              | Bootstrap 3
            li
              i.fa.fa-li.fa-magic
              | FontAwesome
          br
          a.btn.btn-white(href='/login', role='button') Sign in Now!

    .container.marketing.hidden-xs
      .row.hidden-xs
        .col-md-12
          h2 Why choose #{title}?
      .row
        .col-md-4
          h3
            i.fa.fa-group.fa-lg.yellow.animated.bounceIn
            | &nbsp;&nbsp;Just for you
          p
            | #{title} Is built with standard components such as Boostrap and FontAwesome and is easy to customize.
        .col-md-4
          h3
            i.fa.fa-bolt.fa-lg.orange.animated.bounceIn
            | &nbsp;&nbsp;Lightning fast
          p
            | #{title} is optimized to ensure fast loading time. Google page speed index of 93/100 on a nodejitsu micro drone ($9/month).
        .col-md-4
          h3
            i.fa.fa-tablet.fa-lg.purple.animated.bounceIn
            | &nbsp;&nbsp;On every device
          p
            | #{title} is built to look great on every device. Fully responsive for mobile devices to ensure the best user experience.

  script.
    $('body').addClass('bg-brand1');
