extends ../layouts/layout

block content
  .jumbotron.white
    .container
      h1
        | Tell your Awesome Story!
      .row
        .col-md-8.col-md-push-4
          img.img-responsive.animated.slideInRight(alt='Looks great on every device', src='img/Octocat.png', width='500px')
          br
        .col-md-offset-1.col-md-3.col-md-pull-8
          ul.fa-ul.visible-md.visible-lg
            li
              i.fa.fa-li.fa-cog
              | Flat design
            li
              i.fa.fa-li.fa-heart
              | Responsive
            li
              i.fa.fa-li.fa-cloud
              | Bootstrap 3
            li
              i.fa.fa-li.fa-magic
              | LESS
          br
          a.btn.btn-white(href='/login', role='button') Sign in Now!

    .container.marketing.hidden-xs
      .row.hidden-xs
        .col-md-12
          h2 Why choose #{title}?
      .row
        .col-md-4
          h3
            i.fa.fa-thumbs-o-up.fa-lg.yellow.animated.bounceIn
            | &nbsp;&nbsp;Just for you
          p
            | Easily change every color, by changing just few variables. Add or remove pages, and choose from 600+ fonts.
        .col-md-4
          h3
            i.fa.fa-magic.fa-lg.orange.animated.bounceIn
            | &nbsp;&nbsp;Page speed
          p
            | The theme is optimized to ensure fast loading time by lazy-loading of images and beeing minimal by design.
        .col-md-4
          h3
            i.fa.fa-tablet.fa-lg.purple.animated.bounceIn
            | &nbsp;&nbsp;For every device
          p
            | The Story is built to look great on every device. Custom menu for mobile devices, to ensure the best expierence.

  script.
    $('body').addClass('bg-brand1');
