extends ../layouts/layout

block head
  title Enhanced Security

block content
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h1 Welcome to Enhanced Security!
        p We recommend protecting your account with enhanced security, adding an extra layer of protection to your account. Once enabled, a unique time-sensitive security code is required in addition to your password whenever you sign in.
        p You can elect to <strong>use a mobile app</strong> on your smartphone, or you can elect to <strong>receive SMS text messages</strong> whenever you log in.
        p.lead SMS Text Message Considerations
        ul
          li If your phone is in a poor service area you may not be able to receive text messages. If this happens you will be unable to log in until you are in a service location where you can receive text messages.
          li Sometimes there is a slight delay before a text message is delivered. You will have to wait to receive the text message with your one-time code to login.
        p.lead Mobile App Considerations
        p When using a mobile app you do not need to worry about your phone's service or signal quality.  Mobile apps work even when your cellular service is off.
        p Several mobile apps are available that will generate security codes for you. We recommend using Google Authenticator:
        p
          a(href='https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8', target='_blank')
            img(src='/img/app_store.svg', height=43)
          | &nbsp;
          a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2', target='_blank')
            img(src='/img/play@2x.png', height=45)
        p However any app that supports the Time-based One-Time Password (TOTP) protocol should work, including the following:
        ul
          li
            a(href='https://support.google.com/accounts/answer/1066447?hl=en') Google Authenticator
            |  (Android/iPhone/BlackBerry)
          li
            a(href='http://guide.duosecurity.com/third-party-accounts') Duo Mobile
            |  (Android/iPhone)
          li
            a(href='http://www.amazon.com/gp/product/B0061MU68M') Amazon AWS MFA
            |  (Android)
          li
            a(href='http://www.windowsphone.com/en-us/store/app/authenticator/021dd79f-0598-e011-986b-78e7d1fa76f8') Authenticator
            |  (Windows Phone 7)
        p.lead Please choose the option you prefer below:
    .row
      .col-sm-4.col-sm-offset-2
        br
        a.btn.btn-success.btn-block.btn-lg(href='/setup-sms')
          i.fa.fa-check
          | &nbsp;I prefer text messages
      .col-sm-4
        br
        a.btn.btn-success.btn-block.btn-lg(href='/setup-totp')
          i.fa.fa-check
          | &nbsp;I prefer a mobile app
