extends ../layouts/layout

block head
  title Enhanced Security

block content
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h1 OK! Let's Get this party started!
        p Scan the QR Code below (if your app supports it) or type your secret key into the app.
        p.lead Scan this QR Code:
          img.center-block(src='#{qrImage}')
        br
        p.lead Or enter this key manually: &nbsp;&nbsp;<b>#{key}</b>
        a.btn.btn-success(href='/verify-totp-first')
          i.fa.fa-check
          | &nbsp;I Am Ready To Go!
        | &nbsp;
        a.btn.btn-danger(href='/twofactor/disable-enhanced-security')
          i.fa.fa-times
          | &nbsp;Cancel Enhanced Security
    //- .row
    //-   .col-sm-4.col-sm-offset-2
    //-     br
    //-     a.btn.btn-success.btn-block(href='/verify-totp-first')
    //-       i.fa.fa-check
    //-       | &nbsp;I Am Ready To Go!
    //-   .col-sm-4
    //-     br
    //-     a.btn.btn-danger.btn-block(href='/account/disable-enhanced-security')
    //-       i.fa.fa-times
    //-       | &nbsp;Cancel Enhanced Security
    //-   br
