extends ../layouts/error


block head
  title #{application} &middot; 404

block content

  .mini-tron
    .container
      h1 404 Page Not Found!
      p
        | You tried to reach:&nbsp;
        span.lime #{url}
      p
        | That page doesn't exist.

  .container
    .row
      .col-md-8.col-md-offset-2
        br
        br
        img.img-responsive.center-block(src='/img/404.jpg')
